.About {
    font-family: Domine;
    background-color: #f5f5dc;
    font-size: 18px;
    padding: 5% 20px;
    height: 100%;
    line-height: 1.4;
    opacity: 0;
    transform: translateX(-1%);
    animation: fadeIn 200ms ease-in 100ms forwards;

    h2 {
        background-color: black;
        padding: 5px;
        color: white;
        width: fit-content;
    }

    p {
        width: 50%;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}