.Project__Container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 5%;
    padding-bottom: 5%;

    h2 {
        position: relative;
        z-index: 1;
        width: 100%;
        font-family: Domine;
    }
}

.Project__Card {
    position: relative;
    width: calc((100% / 3) - 30px);
    min-width: 400px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:hover {
        .Project__Card__Image img {
            opacity: 0.2;
        }

        .Project__Card__Content {
            opacity: 1;
        }

        .Project__Card__Image {
            background-color: black;
            transform: scale(1.03)
        }
    }
    
    .Project__Card__Image {
        border-radius: 5px;
        transition: transform 150ms ease-in-out;
    }
    
    .Project__Card__Image img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .Project__Card__Content {
        position: absolute;
        opacity: 0;
        color:white;
        font-family: Domine;
        transform: translateY(-50%);
        top: 50%;
        text-align: center;
        width: 100%;
        transition: opacity 150ms ease-in-out;
    }
}

.Project__Card__Content__Title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
}